<h1>Delete album</h1>

<p>
    <a href="<?php echo $this->url('album'); ?>">My albums</a>
</p>

<p>
    Are you sure that you want to delete
    '<?php echo $this->escapeHtml($album->title); ?>' by
    '<?php echo $this->escapeHtml($album->artist); ?>'?
</p>

<?php
use Zend\Form\Form;
use Zend\Form\Element;

$form = new Form();

$url = $this->url('album', array(
    'action' => 'delete',
    'id' => $this->id
));
$form->setAttribute('action', $url);
$form->prepare();
echo $this->form()->openTag($form);

$e = new Element\Hidden('id');
$e->setValue($this->id);
echo $this->formHidden($e);

$e = new Element\Submit('del');
$e->setValue('Yes');
echo $this->formSubmit($e);
$e->setValue('No');
echo $this->formSubmit($e);

echo $this->form()->closeTag();