<h1>Edit album</h1>

<p>
    <a href="<?php echo $this->url('album'); ?>">My albums</a>
</p>

<?php
$form = $this->form;
$form->setAttribute('action',
    $this->url('album', array(
        'action' => 'edit',
        'id' => $this->id
)));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('title'));
echo $this->formRow($form->get('artist'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();